<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{navigation.contact}"></title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <h2>Contact Us</h2>
  <form th:action="@{/contact}" method="post" class="container mb-3">
    <div class="form-group mb-3">
      <label for="subject" class="form-label">Subject:</label>
      <input type="text" class="form-control" id="subject" name="subject" required>
    </div>
    <div class="form-group mb-3">
      <label for="message" class="form-label">Message:</label>
      <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send Message</button>
  </form>

  <p>You can also reach us at <a href="mailto:support@paymybuddy.com">support@paymybuddy.com</a></p>
</div>
</body>
</html>
