<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Payment Confirmation</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div>
        <div th:if="${error != null}"
             class="alert alert-danger"
             role="alert"
             th:text="${error}"></div>
    </div>
    <div class="container">
    <h2>Confirm Payment</h2>
    <form method="post"
          th:action="@{/transaction/pay}"
          th:object="${transactionForm}">
        <div class="form-outline mb-3">
        <label class="form-label" for="recipientEmail" th:text="#{beneficiary.label}"></label>
        <input type="email"
               class="form-control"
               name="recipientEmail" id="recipientEmail"
               th:field="*{recipient}" th:value="${transactionForm.getRecipient()}"
               th:placeholder="${transactionForm.recipient}"
               readonly required />
        </div>
        <div class="form-outline mb-3">
            <label class="form-label" for="amount" th:text="#{balance.amount}"></label>
            <input type="number" step="0,01"
                   class="form-control" name="amount" id="amount"
                   th:field="*{amount}" th:value="${transactionForm.getAmount()}"
                   readonly required />
        </div>
        <div class="form-outline mb-3">
            <label class="form-label" for="amountWithFee" th:text="#{balance.amountWithFee}"></label>
            <input type="number" step="0,01"
                   class="form-control" name="amountWithFee" id="amountWithFee"
                   th:field="*{amountWithFee}" th:value="${transactionForm.getAmountWithFee()}"
                   required />
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="description" th:text="Description"></label>
            <input type="text" id="description" name="description"
                      class="form-control"
                      th:field="*{description}" required />
        </div>
        <button type="submit"
                class="btn btn-primary"
                name="action"
                value="payment">Confirm Payment</button>
    </form>
    </div>
</div>
</body>
</html>
