<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h2>My Profile</h2>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row" th:text="#{user.first_name}"></th>
                    <td th:text="${user.firstName}"></td> </tr>
                <tr>
                    <th scope="row" th:text="#{user.last_name}"></th>
                    <td th:text="${user.lastName}"></td>
                </tr>
                <tr>
                    <th scope="row" th:text="#{user.email}"></th>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr>
                    <th scope="row" th:text="#{user.password}"></th>
                    <td><input type="password" class="form-control" disabled th:value="${user.password}" /></td>
                </tr>
                <tr>
                    <th scope="row"  th:text="#{user.amount}"></th>
                    <td th:text="${user.balance}">€</td> </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
